<!DOCTYPE html>
<html>

<head>
    <meta name="renderer" content="webkit">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <meta name="author" content="huliqun">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <!-- ================== BEGIN BASE CSS STYLE ================== -->
  	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  	<link href="/static/dependencies/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
  	<link href="/static/dependencies/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  	<link href="/static/dependencies/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
  	<link href="/static/dependencies/assets/css/animate.min.css" rel="stylesheet" />
  	<link href="/static/dependencies/assets/css/style.min.css" rel="stylesheet" />
  	<link href="/static/dependencies/assets/css/style-responsive.min.css" rel="stylesheet" />
  	<link rel="stylesheet" id="theme"/>
    <link rel="shortcut icon" id="favicon"/>
  	<!-- ================== END BASE CSS STYLE ================== -->

  	<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
  	<link href="/static/dependencies/assets/plugins/jquery-jvectormap/jquery-jvectormap.css" rel="stylesheet" />
  	<link href="/static/dependencies/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="/static/dependencies/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
    <link href="/static/dependencies/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
  	<link href="/static/dependencies/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
    <link href="/static/dependencies/assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="/static/dependencies/assets/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="/static/dependencies/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="/static/dependencies/assets/plugins/parsley/src/parsley.css" rel="stylesheet" />
    <link href="/static/dependencies/assets/plugins/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />
    <link href="/static/dependencies/assets/plugins/lightbox/css/lightbox.css" rel="stylesheet" />
    <link href="/static/dependencies/assets/plugins/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />
    <!--[if lte IE 7]><script src="assets/plugins/simple-line-icons/icons-lte-ie7.js"></script><![endif]-->
    <!-- ================== END PAGE LEVEL STYLE ================== -->

    <link href="/static/dependencies/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet" type="text/css">
    <link href="/static/dependencies/bootstrap3-dialog/dist/css/bootstrap-dialog.min.css" rel="stylesheet"
          type="text/css">
    <link href="/static/dependencies/cropper/dist/cropper.min.css" rel="stylesheet" type="text/css">
    <link href="/static/dependencies/ztree/css/metroStyle/metroStyle.css" rel="stylesheet" type="text/css">
    <link href="/static/dependencies/dhtmlxGantt/codebase/dhtmlxgantt.css" rel="stylesheet" type="text/css" media="screen" title="no title" charset="utf-8">
    <link href="/static/dependencies/webui-popover/dist/jquery.webui-popover.min.css" rel="stylesheet" type="text/css" media="screen" title="no title" charset="utf-8">
    <link href="/static/dependencies/swiper/dist/css/swiper.css" rel="stylesheet" type="text/css">
    <link href="/static/dependencies/imageviewer/dist/viewer.css" rel="stylesheet" type="text/css">
    <link href="/static/dependencies/print-js/dist/print.min.css" rel="stylesheet" type="text/css">
    <link href="/static/dependencies/wangeditor/release/wangEditor.css" rel="stylesheet" type="text/css">
    <link href="/static/dependencies/city-picker/dist/css/city-picker.css" rel="stylesheet" type="text/css">
    <link href="/static/dependencies/loading/src/loading.css" rel="stylesheet" type="text/css">
    <link href="/static/dependencies/datatables/media/css/jquery.dataTables.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css"/>




</head>
<body>
<div id="app"></div>
<!-- ================== BEGIN BASE JS ================== -->
<script src="/static/dependencies/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
<script src="/static/dependencies/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
<script src="/static/dependencies/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
<script src="/static/dependencies/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!--[if lt IE 9]>
  <script src="/static/dependencies/assets/crossbrowserjs/html5shiv.js"></script>
  <script src="/static/dependencies/assets/crossbrowserjs/respond.min.js"></script>
  <script src="/static/dependencies/assets/crossbrowserjs/excanvas.min.js"></script>
<![endif]-->
<script src="/static/dependencies/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/static/dependencies/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
<!-- ================== END BASE JS ================== -->

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="/static/dependencies/assets/plugins/gritter/js/jquery.gritter.js"></script>
<script src="/static/dependencies/assets/plugins/flot/jquery.flot.min.js"></script>
<script src="/static/dependencies/assets/plugins/flot/jquery.flot.time.min.js"></script>
<script src="/static/dependencies/assets/plugins/flot/jquery.flot.resize.min.js"></script>
<script src="/static/dependencies/assets/plugins/flot/jquery.flot.pie.min.js"></script>
<script src="/static/dependencies/assets/plugins/sparkline/jquery.sparkline.js"></script>
<script src="/static/dependencies/assets/plugins/jquery-jvectormap/jquery-jvectormap.min.js"></script>
<script src="/static/dependencies/assets/plugins/jquery-jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<script src="/static/dependencies/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="/static/dependencies/assets/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="/static/dependencies/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="/static/dependencies/assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script src="/static/dependencies/assets/plugins/select2/dist/js/select2.full.min.js"></script>
<script src="/static/dependencies/assets/plugins/select2/dist/js/i18n/zh-CN.js"></script>
<script src="/static/dependencies/assets/plugins/parsley/dist/parsley.js"></script>
<script src="/static/dependencies/assets/plugins/parsley/dist/i18n/zh_cn.js"></script>
<script src="/static/dependencies/assets/plugins/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script src="/static/dependencies/assets/plugins/lightbox/js/lightbox.min.js"></script>

<script src="/static/dependencies/assets/js/apps.min.js"></script>
<!-- ================== END PAGE LEVEL JS ================== -->

<script src="/static/dependencies/store/store.min.js"></script>
<script src="/static/dependencies/crypto-js/crypto-js.js"></script>
<script src="/static/dependencies/bootstrap-table/dist/bootstrap-table.min.js"></script>
<script src="/static/dependencies/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/static/dependencies/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js"></script>
<script src="/static/dependencies/bootstrap-table/dist/extensions/editable/bootstrap-table-editable.min.js"></script>
<script src="/static/dependencies/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.js"></script>
<script src="/static/dependencies/tableexport.jquery.plugin/tableExport.min.js"></script>
<script src="/static/dependencies/moment/min/moment.min.js"></script>
<script src="/static/dependencies/bootstrap3-dialog/dist/js/bootstrap-dialog.min.js"></script>
<script src="/static/dependencies/cropper/dist/cropper.min.js"></script>
<script src="/static/dependencies/ckeditor/ckeditor.js"></script>
<script src="/static/dependencies/ztree/js/jquery.ztree.all.min.js"></script>
<script src="/static/dependencies/dhtmlxGantt/codebase/dhtmlxgantt.js"></script>
<script src="/static/dependencies/dhtmlxGantt/codebase/locale/locale_cn.js" charset="utf-8"></script>
<script src="/static/dependencies/webui-popover/dist/jquery.webui-popover.min.js" charset="utf-8"></script>
<script src="/static/dependencies/imageviewer/dist/viewer.js"></script>
<script src="/static/dependencies/swiper/dist/js/swiper.js"></script>
<script src="/static/dependencies/distpicker/dist/distpicker.js"></script>
<script src="/static/dependencies/print-js/dist/print.min.js"></script>
<script src="/static/dependencies/wangeditor/release/wangEditor.js"></script>
<script src="/static/dependencies/city-picker-data/city-picker.data.js"></script>
<script src="/static/dependencies/city-picker/dist/js/city-picker.min.js"></script>
<script src="/static/dependencies/jquery-form/src/jquery.form.js"></script>
<script src="/static/dependencies/loading/src/loading.js"></script>
<script src="/static/dependencies/datatables/media//js/jquery.dataTables.js"></script>

<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js "></script>

</body>
</html>
